<app-header></app-header>

<section id="about" class="about section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch">
          <div class="content">
            <h3>Get into the world of films with us..</h3>
            <p>
              Find out everything about your favourite movies. We consider every bit of suggestions from you. Explore more about the world of films through us...
            </p>
            <!-- <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a> -->
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box"  data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Contact us</h4>
                <p>
                    Write us to :admin123@gmail.com <br>
                    Ring us on :899546334
                </p>
              </div>
              <div class="col-md-6 icon-box"  data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Address</h4>
                <p>Maria Street, Thevara PO</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section>
